# -----------------------------
# Compiled binaries (C/C++)
# -----------------------------
*.exe
*.out
*.o
*.obj
*.dll
*.a

# Debug / build folders
build/
bin/
out/

# -----------------------------
# VS Code
# -----------------------------
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Temporary files
# -----------------------------
*.tmp
*.temp